<body>
    <div class="outerDiv" ng-controller="addressCtrl" ng-init="getAll()">
        <div class="main">
            <input class="addInput" type="text" ng-model="address" placeholder="Full Address" />
            <div class="addPart">
                <input type="text" ng-model="pincode" placeholder="Pin Code" />
                <input type="text" ng-model="city" placeholder="City" />
                <input type="text" ng-model="district" placeholder="District" />
                <input type="text" ng-model="state" placeholder="State" />
                <input type="text" ng-model="country" placeholder="Country" />
            </div>
            <h4 class="error" id="errorMsg"></h4>
            <button class="button" ng-click="Save(address, pincode,city, district, state, country)">Split / Save</button>
        </div>
        <div class="display">
            <h4>Address 1: {{data.addressLine1}}</h4>
            <h4>Address 2: {{data.addressLine2}}</h4>
            <h4>Address 3: {{data.addressLine3}}</h4>
            <h4>City: {{data.city}}</h4>
            <h4>District: {{data.district}}</h4>
            <h4>State: {{data.state}}</h4>
            <h4>Country: {{data.country}}</h4>
            <h4>Pin Code: {{data.pinCode}}</h4>
        </div>
        <div class="list" ng-repeat="address in allAddresses">
            <h4>{{address.addressLine1}} {{address.addressLine2}} {{address.addressLine3}} {{address.city}}
                {{address.district}} {{address.state}} {{address.country}} {{address.pinCode}}
            </h4>
            <button class="button" ng-click="getByID(address.addressID)">View</button>
        </div>
    </div>
</body>