body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 1500;
    font-size: larger;
    background-color: whitesmoke;
}
.outerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.main{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
    height: 30vh;
    border: none;
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    background-color: white;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
}
.addInput{
    width: 93%;
    height: 20%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: large;
    border: 1px solid #b3b1b1;
    border-radius: 4px;
}
.addPart input{
    height: 160%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:bolder;
    font-size: large;
    border: 1px solid #b3b1b1;
    border-radius: 4px;
}
.button{
    background-color: #247cec;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 1000;
    font-size: large;
    color: white;
    padding: 10px 20px 8px 20px;
    border-radius: 4px;
    margin: 10px;
}
.display{
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    width: 60vw;
    background-color: white;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
}
.display h4{
    padding-left: 20px;
}
.list{
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    width: 60vw;
    background-color: white;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
}
.list h4{
    padding-left: 20px;
}
.error{
    color: red;
    margin: 0;
    padding: 20px;
}